<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>M...</title>
  </head>
  <body
    style="
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: grey;
      height: 100vh;
      width: 100%;
    "
  >
    <div>
      <h1 style="text-align: center; font-size: 30vmin; margin: 0">M...</h1>
      <h1 style="text-align: center">Every Professional in a Circle</h1>
    </div>
  </body>
</html>
